spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    show-sql: true
  config:
    import: kafka.yml
logging:
  level:
    org:
      hibernate:
        sql: debug
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:test;MODE=MYSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

---
spring:
  config:
    activate:
      on-profile: test-mysql
  datasource:
    url: "jdbc:mysql://127.0.0.3:3306/english_test"
    username: "hwang"
    password: "5510"
  jpa:
    hibernate:
      ddl-auto: create
    database: mysql

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: "jdbc:mysql://127.0.0.3:3306/english"
    username: "hwang"
    password: "5510"
  redis:
    host: 127.0.0.3
    port: 6379

server:
  port: 5510
logging:
  config: classpath:logback-local.xml
---
spring:
  config:
    activate:
      on-profile: server
  datasource:
    url: "jdbc:mysql://10.0.2.3:3306/english"
    username: "hwang"
    password: "5510"
  redis:
    host: 10.0.2.3
    port: 6379
server:
  port: 5511
logging:
  config: classpath:logback-server.xml

